<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackedit.io/style.css" >
    <title>Tutoriel</title>

  </head>
  <body class="stackedit">
    <div class="stackedit__toc">
        <div class="stackedit__html">
  
  <img src = "/static/wikipedia_logo.png" width="300">
  
  <h1> Tous les chemins mènent à la philosophie</h1>
  

  {% block body %}

  <h2> Historique des scores </h2>
    <table align="center">
    {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
    {% endfor %}
    </table>

  <form>
    <input type="button" value="Retour" onclick="history.go(-1)">
  </form>

</body>


{% endblock %}